@screen md {
  .container {
    padding: 0 !important;
  }
  .welcome-wrapper {
    background: url("../images/1.png"), url("../images/2.png") !important;
    background-position: top right 30px, left bottom !important;
    background-repeat: no-repeat, no-repeat !important;
    background-size: 40% auto, auto 60% !important;
    & > .center-block {
      margin: 0 !important;
      top: 50% !important;
      -ms-transform: translateY(-50%) !important;
      transform: translateY(-50%) !important;
      margin-right: 20px !important;
    }
  }
  .welcome {
    font-size: 80px !important;
    margin-bottom: 10px !important;
    line-height: 92px !important;
  }
  .slider {
    width: 60% !important;
    .slider-navigation {
      .arrow-left, .arrow-right {
        .img {
          width: 32px;
        }
      }
    }
  }
  .fixed-block {
    width: 400px !important;
    margin-bottom: 0 !important;
  }
  .hiring-swiper-container {
    padding: 0 20px !important;
  }
  .utilities {
    padding-top: 65px !important;
    padding-bottom: 130px !important;
    .left {
      padding: 0 !important;
    }
    .slide-item {
      width: 25% !important;
      margin-right: 10px !important;
      margin-bottom: 0 !important;
    }
  }
  footer {
    padding: 100px 0 !important;
    .logo {
      margin-right: 120px !important;
    }
    .footer-menu {
      gap: 94px;
    }
  }
  .special {
    .have-text {
      padding: 0 !important;
    }
  }
  .story {
    width: 40% !important;
    &.have-image {
      width: 60% !important;
    }
  }
}

@screen xl {
  .main-image {
    width: 625px !important;
  }
}