doctype html
html
    head
        title Landing page
        link(href="assets/css/tailwind.css", rel="stylesheet")
        link(href="assets/css/main.css", rel="stylesheet")
        link(href="assets/css/responsive.css", rel="stylesheet")
        link(href="https://unpkg.com/swiper/swiper-bundle.min.css", rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        nav(class="transform top-0 right-0 w-64 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30 translate-x-full")
            div.text-right.close
                img.inline-block.cursor-pointer(src="assets/images/close.png")
            div.menu.flex.flex-col
                a(href="#") Bạn có biết?
                a(href="#") Campus đẳng cấp thế giới
                a(href="#") Fville có gì đặc biệt
                a(href="#") Chuyện Fville
                a(href="#") Việc làm
                a(href="#") Liên hệ
                a(href="#").register.btn apply now!

        header(class="container mx-auto flex items-center justify-between")
            div.left
                img(src="assets/images/Logo_fpt_software.png")
            div(class="right items-center hidden md:flex")
                div.menu.flex
                    a(href="#") Bạn có biết?
                    a(href="#") Campus đẳng cấp thế giới
                    a(href="#") Fville có gì đặc biệt
                    a(href="#") Chuyện Fville
                    a(href="#") Việc làm
                    a(href="#") Liên hệ
                a.register.btn apply now!
            div(class="md:hidden cursor-pointer nav-menu")
                img(src="assets/images/menu.png")

        div(class="banner flex flex-col-reverse md:flex-row")
            div(class="welcome-wrapper flex-1 relative")
                div(class="right-0 md:absolute md:float-right p-5 md:p-0 center-block")
                    div.uppercase.welcome welcome
                    div.go-fviile
                        div.text GO FVILLE
                        div.sub WHERE TO GET THE BALANCE RIGHT!
            div.slider.swiper-container.relative
                div.swiper-wrapper
                    div.swiper-slide
                        img(src="assets/images/banner1.png")
                    div.swiper-slide
                        img(src="assets/images/banner2.png")
                    div.swiper-slide
                        img(src="assets/images/banner3.png")
                div.slider-navigation.absolute.left-0.flex.bottom-0
                    div.arrow-left.cursor-pointer.text-center
                        img.inline-block(src="assets/images/left.png")
                    div.arrow-right.cursor-pointer.text-center
                        img.inline-block(src="assets/images/right.png")

        div.hiring
            div(class="hiring-wrapper container mx-auto md:flex")
                div(class="fixed-block md:mb-0")
                    div.first.inline-block
                        div.flex.flex-col.items-center
                            div.bonus.uppercase Nhận bonus
                            p.salary 30.000.000 VND
                            p.condition Khi tham gia các dự án tại hòa lạc
                            a.btn gửi hồ sơ
                div.hiring-swiper-container.overflow-hidden.flex-1
                    div.swiper-wrapper
                        div.member.relative.swiper-slide
                            div.head.absolute.flex.items-center
                                div.number 01
                                div.title
                                    p.uppercase ANDROID
                                    p.font-bold DEVELOPER
                            div.body.flex.items-center.flex-col
                                p.dev-type Android Developer
                                p.salary 1000$ - 2000$
                                a.btn.special Xem chi tiết
                        div.member.relative.swiper-slide
                            div.head.absolute.flex.items-center
                                div.number 02
                                div.title
                                    p.uppercase IT
                                    p.font-bold TESTER
                            div.body.flex.items-center.flex-col
                                p.dev-type Tester
                                p.salary 1000$ - 2000$
                                a.btn.special Xem chi tiết
                        div.member.relative.swiper-slide
                            div.head.absolute.flex.items-center
                                div.number 03
                                div.title
                                    p.uppercase software
                                    p.font-bold ENGINEER
                            div.body.flex.items-center.flex-col
                                p.dev-type Software Engineer
                                p.salary 1000$ - 2000$
                                a.btn.special Xem chi tiết
                        div.member.relative.swiper-slide
                            div.head.absolute.flex.items-center
                                div.number 04
                                div.title
                                    p.uppercase software
                                    p.font-bold ENGINEER
                            div.body.flex.items-center.flex-col
                                p.dev-type Software Engineer
                                p.salary 1000$ - 2000$
                                a.btn.special Xem chi tiết
                        //div.member.relative
                        //    div.head.absolute.flex.items-center
                        //        div.number 03
                        //        div.title
                        //            p.uppercase software
                        //            p.font-bold ENGINEER
                        //    div.body.flex.items-center.flex-col
                        //        p.dev-type Software Engineer
                        //        p.salary 1000$ - 2000$
                        //        a.btn Xem chi tiết
                        //div.member.relative
                        //    div.head.absolute.flex.items-center
                        //        div.number 03
                        //        div.title
                        //            p.uppercase software
                        //            p.font-bold ENGINEER
                        //    div.body.flex.items-center.flex-col
                        //        p.dev-type Software Engineer
                        //        p.salary 1000$ - 2000$
                        //        a.btn Xem chi tiết
                        //div.member.relative
                        //    div.head.absolute.flex.items-center
                        //        div.number 03
                        //        div.title
                        //            p.uppercase software
                        //            p.font-bold ENGINEER
                        //    div.body.flex.items-center.flex-col
                        //        p.dev-type Software Engineer
                        //        p.salary 1000$ - 2000$
                        //        a.btn Xem chi tiết

        div.fville.relative
            div.layer-image.absolute.inset-0.z-1
            div.layer.absolute.inset-0.z-2
            div.content.absolute.bottom-0.left-0.w-full
                div(class="container flex mx-auto flex-col md:flex-row")
                    div.first Fville
                    div.description.text-justify Là một trong các campus của FPT Software, được xây dựng và hoàn thiện năm 2013. Với diện tích 6.4ha, Fville ẩn mình trong không gian xanh mướt, tích hợp khu làm việc với các khu tiện ích hiện đại nhất. Được xây dựng theo xu hướng phát triển chung của các doanh nghiệp phần mềm lớn trên thế giới như Infosys (Ấn Độ), Neusoft (Trung Quốc), TCS (Ấn Độ), Wipro (Ấn Độ),... Fville là không gian làm việc lý tưởng mà FPT Software muốn dành tặng cho các cán bộ nhân viên của mình.

        div.utilities.container.mx-auto.relative
            div.utilities-swiper-container.overflow-hidden
                div.swiper-wrapper.flex
                    div(class="slide-item swiper-slide")
                        div.left.flex-1.absolute.flex.flex-col
                            div.flex.title-wrapper.items-center
                                div.line
                                div.title Khu thể thao
                            div(class="description md:mb-0 text-justify flex-1") Fville không chỉ thuần túy là một văn phòng làm việc với trang thiết bị hiện đại, mà còn có khu thể thao như sân bóng đá, phòng tập gym, bể bơi, ... nhằm tạo hứng khởi trong công việc và hỗ trợ tăng cường thể lực cho nhân viên.
                        div.right
                            img(src="assets/images/sport.png")
                    div(class="slide-item swiper-slide")
                        div.left.flex-1.absolute.flex.flex-col
                            div.flex.title-wrapper.items-center
                                div.line
                                div.title Nhà trẻ
                            div(class="description md:mb-0 text-justify flex-1") Nhà trẻ tại Fville được công ty xây dựng với quy mô rộng rãi, trang thiết bị hiện đại, do các cô giáo mầm non có kinh nghiệm phụ trách theo giáo trình giáo dục thân thiện nhất để cán bộ nhân viên có thể yên tâm làm việc khi gửi con tại đây.
                        div.right
                            img(src="assets/images/nhatre.png")
                    div(class="slide-item swiper-slide")
                        div.left.flex-1.absolute.flex.flex-col
                            div.flex.title-wrapper.items-center
                                div.line
                                div.title Guest house
                            div(class="description md:mb-0 text-justify flex-1") Guest house tiêu chuẩn 3 sao dành cho các chuyên gia, khách hàng, nhân viên cần làm việc qua đêm khi có nhu cầu.
                        div.right
                            img(src="assets/images/guesthouse.png")
                    div(class="slide-item swiper-slide")
                        div.left.flex-1.absolute.flex.flex-col
                            div.flex.title-wrapper.items-center
                                div.line
                                div.title Canteen
                            div(class="description md:mb-0 text-justify flex-1") Fville có 3 khu vực canteen với sức chứa lên đến hàng nghìn người, các quán ăn "ven đường" nằm trong khuôn viên làng phần mềm với đa dạng sự lựa chọn luôn khiến người Fville hài lòng.
                        div.right
                            img(src="assets/images/canteen.png")
                    div(class="slide-item swiper-slide")
                        div.left.flex-1.absolute.flex.flex-col
                            div.flex.title-wrapper.items-center
                                div.line
                                div.title Canteen
                            div(class="description md:mb-0 text-justify flex-1") Fville có 3 khu vực canteen với sức chứa lên đến hàng nghìn người, các quán ăn "ven đường" nằm trong khuôn viên làng phần mềm với đa dạng sự lựa chọn luôn khiến người Fville hài lòng.
                        div.right
                            img(src="assets/images/canteen.png")
            div.swiper-pagination-utilities.mx-auto.absolute.w-full.text-center

        div.other-utilities
            div.container.mx-auto.p-0
                div.title.text-center Các tiện ích khác
                div.desc.text-center 36 phố phường với các quán café xinh xắn, nơi sạc điện thoại công cộng, tổ buôn "trà đá"…
                div.images
                    div(class="flex flex-col lg:flex-row")
                        div.main-image
                            img(src="assets/images/image1.png")
                        div.flex.flex-col.flex-1
                            div.flex-1.grid.grid-cols-2.gap-6
                                img.flex-1(src="assets/images/image2.png")
                                img.flex-1(src="assets/images/image3.png")
                            div.flex-1
                                img.col-span-2(src="assets/images/image4.png")

        div.special.container.mx-auto
            div.title F-Ville có gì đặc biệt?
            div.content
                div(class="flex item flex-col md:flex-row")
                    div.flex-1
                        img(src="assets/images/special1.png")
                    div.flex-1.have-text
                        div.title.flex
                            div.line
                            div.text Xe đưa đón miễn phí
                        div.desc.text-justify
                            span.font-bold “Mưa không đến mặt, nắng chẳng đến đầu”.
                            span  Fville có xe đưa đón nhân viên tại 42 điểm trong thành phố Hà Nội. Dù nắng, dù mưa, Lựa chọn xe bus Fville và thư giãn khoảng 30 phút trên xe, cán bộ nhân viên FSOFT sẽ tới với khuôn viên xanh xinh đẹp và bắt đầu một ngày làm việc cho đến 5h30 chiều hàng ngày, lại cùng chuyến xe bus Fville quay trở về tổ ấm. Trong giờ hành chính, xe bus Fville vẫn có các khung giờ cố định để phục vụ nhu cầu của các cán bộ nhân viên.
                div(class="flex item flex-col-reverse md:flex-row")
                    div.flex-1.have-text
                        div.title.flex
                            div.line
                            div.text Xa khói bụi thành phố
                        div.desc.text-justify
                            span FPT Software hiểu rõ tầm quan trọng của việc xây dựng môi trường làm việc trong lành cho các cán bộ nhân viên, nên việc xây dựng tổ hợp campus xanh có diện tích lớn nhất Việt Nam luôn được chú trọng và phát triển. Fville thực sự xinh đẹp, được phủ kín bởi một màu xanh. Không gian tràn ngập ánh sáng tự nhiên, khuôn viên dạo bộ, môi trường làm việc sáng tạo,
                            span.font-bold đưa bạn tạm xa thành phố ồn ào bụi bặm và hòa mình vào thiên nhiên
                    div.flex-1
                        img(src="assets/images/special2.png")
                div(class="flex item flex-col md:flex-row")
                    div.flex-1
                        img(src="assets/images/special3.png")
                    div.flex-1.have-text
                        div.title.flex
                            div.line
                            div.text 20.000 cây xanh và thông điệp “Bảo vệ môi trường”
                        div.desc.text-justify
                            span.font-bold Tại Fville, việc yêu thiên nhiên và bảo vệ môi trường như một lẽ tự nhiên.
                            span Thay vì nhựa dùng một lần,Fville sử dụng cốc giấy, ống hút giấy, thìa gỗ và thùng rác gỗ. Pin đã qua sử dụng đều được gom lại và xử lý đúng cách. Người F-Ville còn được cấp một chiếc "sổ đỏ" - giấy chứng nhận quyền sử dụng đất ở công ty để tự trồng rau để đáp ứng nhu cầu sử dụng thực phẩm sạch. Nhân dịp kỷ niệm 20 năm thành lập, FSOFT đã phát động chiến dịch Chạy Vì Môi Trường - Run For Green. Khởi động tại Hòa Lạc, Run for green đã mở rộng quy mô ra toàn thế giới, trên 52 chi nhánh của FSOFT tại 25 quốc gia. FSOFTer và 2000 sinh viên, nhân sự ngành CNTT đã tham gia Run for Green và chạy tổng cộng 1 triệu km, trồng 20.000 cây xanh trên toàn cầu để đóng góp vào hoạt động bảo vệ môi trường.
                div.item
                    <iframe width="100%" height="657px" src="https://www.youtube.com/embed/kizYLwcnL8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        div.stories.relative
            div.layer.inset-0.absolute
            div.container.mx-auto.relative
                div.title Fville - Chuyện của tôi
                p(class="mx-auto w-3/5") Liệu bạn có tò mò về F Ville? Hãy lắng nghe những câu chuyện có thật do chính những đồng nghiệp của chúng tôi trải lòng, bạn sẽ tìm được lý do để yêu một Fville xanh mát giữa lòng Hà Nội

                div.stories-swiper-container.overflow-hidden
                    div.swiper-wrapper.relative.flex.items-stretch
                        //div..flex.swiper-slide
                        div(class="left-box flex swiper-slide story have-image flex-col md:flex-row")
                            div(class="w-full md:w-2/5")
                                img.w-full(src="assets/images/story.png")
                            div.flex-1.story-content.flex.flex-col.justify-between
                                div
                                    img(src="assets/images/music-icon.png")
                                    div.story-title Bà mẹ đầu tiên gửi con tại Fville
                                    div.desc “Ngày chuyển về Hà Nội để đi học mẫu giáo, hai mẹ con đều cảm thấy nuối tiếc. Không còn những buổi líu lo ở trên xe nữa, mất mất 1 tiếng đồng hồ để tranh thủ dạy con...
                                div
                                    div.link Xem chi tiết bài viết>>
                                    p.username.font-bold Ngoc Lan Nguyen
                                    p.role.uppercase TESTER
                        div(class="left-box flex swiper-slide story")
                            div.flex-1.story-content.flex.flex-col.justify-between
                                div
                                    img(src="assets/images/music-icon.png")
                                    div.story-title Bà mẹ đầu tiên gửi con tại Fville
                                    div.desc “Ngày chuyển về Hà Nội để đi học mẫu giáo, hai mẹ con đều cảm thấy nuối tiếc. Không còn những buổi líu lo ở trên xe nữa, mất mất 1 tiếng đồng hồ để tranh thủ dạy con...
                                div
                                    div.link Xem chi tiết bài viết>>
                                    p.username.font-bold Ngoc Lan Nguyen
                                    p.role.uppercase TESTER
                        div(class="left-box flex swiper-slide story")
                            div.flex-1.story-content.flex.flex-col.justify-between
                                div
                                    img(src="assets/images/music-icon.png")
                                    div.story-title Bà mẹ đầu tiên gửi con tại Fville
                                    div.desc “Ngày chuyển về Hà Nội để đi học mẫu giáo, hai mẹ con đều cảm thấy nuối tiếc. Không còn những buổi líu lo ở trên xe nữa, mất mất 1 tiếng đồng hồ để tranh thủ dạy con...
                                div
                                    div.link Xem chi tiết bài viết>>
                                    p.username.font-bold Ngoc Lan Nguyen
                                    p.role.uppercase TESTER
                    div.swiper-pagination.mx-auto.absolute
        footer
            div.container.mx-auto
                div.full-line
                div(class="content flex flex-col md:flex-row")
                    div(class="logo text-center")
                        img.inline-block(src="assets/images/Logo_fpt_software.png", class="md:mx-auto")
                    div(class="flex-1 flex flex-col md:flex-row footer-menu")
                        div.flex-1
                            ul
                                li
                                    div.img
                                        img(src="assets/images/location.png")
                                    div.text F-Ville Building, Khu công nghệ cao Láng Hòa Lạc, Km29 Đại lộ Thăng Long Việt Nam, 29km ĐCT08, Thạch Hoà, Thạch Thất, Hà Nội.
                                li
                                    div.img
                                        img(src="assets/images/phone.png")
                                    div.text +84 24 73 044 888
                        div.flex-1
                            ul
                                li
                                    div.img
                                        img(src="assets/images/mail.png")
                                    div.text Recruitment@fsoft.com.vn
                                li
                                    div.img
                                        img(src="assets/images/global.png")
                                    div.text career.fpt-software.com
                                li
                                    div.img
                                        img(src="assets/images/facebook.png")
                                    div.text www.facebook.com/FPTSoftware
                                li
                                    div.img
                                    div.text www.linkedin.com/company/fpt-software
                div.full-line

        div.copy-right.text-center Copyright © 2021 Fpt Software.

        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script.
          const banner = new Swiper('.swiper-container', {
            // Navigation arrows
            navigation: {
              nextEl: '.arrow-right',
              prevEl: '.arrow-left',
            },
            loop: true
          });

          if (window.innerWidth > 768) {
            const utilities = new Swiper('.utilities-swiper-container', {
              slidesPerView: 4,
              spaceBetween: 10,
              pagination: {
                el: '.swiper-pagination-utilities',
              },
            });
          }


          const hiring = new Swiper('.hiring-swiper-container', {
            // Navigation arrows
            breakpoints: {
              // when window width is >= 320px
              320: {
                slidesPerView: 1
              },
              768: {
                slidesPerView: 3
              }
            }
          });

          const story = new Swiper('.stories-swiper-container', {
            pagination: {
              el: '.swiper-pagination',
            },
            breakpoints: {
              // when window width is >= 320px
              320: {
                slidesPerView: 1
              },
              1024: {
                slidesPerView: 2
              }
            }
          });

          const nav = document.querySelector('nav');

          document.querySelector('.nav-menu').addEventListener('click', (event) => {
            nav.classList.toggle('translate-x-full')
            event.stopPropagation();
            event.preventDefault();
          })

          document.querySelector('body').addEventListener('click', () => {
            if(!nav.classList.contains('translate-x-full')) {
              nav.classList.toggle('translate-x-full');
            }
          })

          document.querySelector('.close').addEventListener('click', () => {
            if (!nav.classList.contains('translate-x-full')) {
              nav.classList.toggle('translate-x-full');
            }
          })